.shop-category {
    justify-content: centre;
}

.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 98%;
}

.shopcategory-indexSort {
    display: flex;
    margin: 0px 38px;
    justify-content: space-between;
    align-items: centre;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span {
    font-weight: 600;
}

.shopcategory-products {
    margin: 20px 38px;
    justify-content: centre;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
}

.shopcategory-loadmore button {
    display: flex;
    justify-content: centre;
    margin: 150px auto;
    width: 233px;
    height: 60px;
    border-radius: 100px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 17px 60px;
}

.shopcategory-loadmore {
    padding: 18px 54px;
}

button:hover {
    background: rgb(254, 254, 254);
    color: black;

}